/* 设置背景图片 */
body {
    background: url(https://w.https://w.wallhaven.cc/full/ex/wallhaven-ex9gwo.png://w.wallhaven.cc/full/ex/wallhaven-ex9gwo.png.cc/full/j3/wallhaven-j3m8y5.png);
    background-attachment: fixed;
    background-size: cover;  
    }